/* The css for the body tag puts the background image from the following file path and makes it so that it fills up the entire page.
The background color is there for when the image loads */
body {
  background-image: url(../assets/photos/MEL08793.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(24, 24, 24);
}

/* The following css gives all the style to the h1 tag and centers it */
h1 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;
}

/* This styles specifically my name */
.devincastro {
  color: rgb(255, 13, 130);
  font-weight: 600;
}
 

/* Responsive media query */
/* The following code changes the size of the body right at the moment the height of the image cant fill up the entire screen */

@media only screen and (max-width: 1080px) {
  body {
    min-height: 812px;
  }

  h1 {
    font-size: 50px;
  }
}

/* This media query helps the text be a more proper size when on a smaller screen. */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}


