.rowStyle {
  margin-bottom: 5%;
  padding-bottom: 50px;
  border-bottom: rgb(118, 115, 115) solid 1px;
}

img {
  height: 150px;
}

.card {
  margin: 0 auto;
  background-image: url(./assets/photos/cardback.jpeg);
}

section {
  background-color: cadetblue;
}

