#mainSection {
  background-color: rgb(78, 251, 254);
}

#mainPhoto {
  padding-left: 10%;
}

h1 {
  margin-bottom: 40px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 70px;
}

.myCenter {
  text-align: center;
}

#phoneAbout {
  padding-top: 25%;
}

/* Responsive media query */

@media only screen and (max-width: 1200px) {
  #phoneAbout {
    padding-top: 0%;
  }
  #mainPhoto {
    padding-left: 0%;
  }
}