body {
  background-image: url(./assets/photos/MEL08793.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;
}

.devincastro {
  color: rgb(255, 13, 130);
  font-weight: 600;
}
 

/* Responsive media query */

@media only screen and (max-width: 1080px) {
  body {
    min-height: 812px;
  }

  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}


