#mainSection {
  background-color: rgb(42, 176, 176);
}

h1 {
  margin-bottom: 40px; 
}


.myCenter {
  text-align: center;
}

#phoneAbout {
  padding-top: 25%;
}

/* Responsive media query */

@media only screen and (max-width: 1200px) {
  #phoneAbout {
    padding-top: 0%;
  }
}